[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
jupyterlab = "*"
tweepyrate = {editable = true,path = "./tweepyrate"}
mongoengine = "*"
hatespeech-collection = {editable = true,path = "."}
blinker = "*"
fire = "*"
tqdm = "*"
pytest = "*"
ipywidgets = "*"
pandas = "*"
newspaper3k = "*"
matplotlib = "*"
hatespeech-models = {editable = true,path = "./hatespeech-models"}

[requires]
python_version = "3.6"
